# Simulation Outputs
sim_out*.txt
sim_in*.txt
sim_results.mat
sim_results.txt

# Vivado Log Files
vivado*.jou
vivado*.log
vivado_*.str
vivado_*.zip
/xgui/*

# Vivado Project Files
/*.cache/*
/*.srcs/*
/*.hw/*
/*.ip_user_files/*
/*.runs/*
/*.sim/*
/*.xpr
/*.coe
/component.xml

# FINS Log Files
/ip_create.log
/ip_simulate.log
/ip_netlist.log

# FINS Generated Parameter Files
/ip.mk
/ip_override.json
/ip_params.m
/ip_params.tcl
/*_params.vhd
/*_streams.vhd
/*_regs.vhd

# DIA Diagram Editor Temporary Files
*.dia~

# Octave Workspace Files
/octave-workspace
